# otasoft-api -> API Gateway
## Common
ENVIRONMENT=
CORE_URL=

## RabbitMQ
RABBITMQ_ERLANG_COOKIE=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=
RABBITMQ_NODENAME=
RABBITMQ_FIRST_HOST_PORT=
RABBITMQ_SECOND_HOST_PORT=

## Redis cache
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
CACHE_TTL_IN_SECONDS=
CACHE_MAX_ITEMS_IN_CACHE=

## Security
SERVE_LOCAL_SSL=
FRONTEND_COOKIE=
SESSION_SECRET=
OAUTH2_CLIENT_PROVIDER_OIDC_ISSUER=
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_ID=
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_SECRET=
OAUTH2_CLIENT_REGISTRATION_LOGIN_SCOPE=
OAUTH2_CLIENT_REGISTRATION_LOGIN_REDIRECT_URI=
OAUTH2_CLIENT_REGISTRATION_LOGIN_POST_LOGOUT_REDIRECT_URI=
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=

# Proxy
NGINX_PORT=

# otasoft-auth -> Authentication Microservice
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=
POSTGRES_HOST=

JWT_SECRET=
JWT_EXPIRATION_TIME=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=
RABBITMQ_FIRST_HOST_PORT=

EMAIL_SECRET=

# otasoft-booking -> Booking Microservice
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=
POSTGRES_HOST=

# otasoft-mail -> Mailer Microservice
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=
POSTGRES_HOST=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=
RABBITMQ_FIRST_HOST_PORT=

SENDGRID_KEY=
SERVER_URL=

# otasoft-customer -> Customer Microservice
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=
POSTGRES_HOST=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=
RABBITMQ_FIRST_HOST_PORT=